<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Products</title>
</head>
<body>
    <form action="/doInsert" method = "post">
        Name <input type = "text" name = "txtName">
        <br>
        Price <input type = "text" name = "txtPrice">
        <br>
        <input type = "submit" value = "Insert">
    </form>
    <a href = "/">Back to Home Page</a>
</body>
</html> 